@font-face {
  font-family: "FiraSans";
  src: url("~@/assets/fonts/FiraSans-Light.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FiraSans Light";
  src: url("~@/assets/fonts/FiraSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
